<!DOCTYPE html>
<html>
  <head>
    <title>Code4Pro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">My Profile</a></li>
    <li><a href="#!">My Courses</a></li>
    <li class="divider"></li>
    <li><%=link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }%></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">My Profile</a></li>
    <li><a href="#!">My Courses</a></li>
    <li class="divider"></li>
    <li><%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
</li>
</ul>

  <header>
   <nav class="brown lighten-4 z-depth-2">
     <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Shan Siddiqui</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
              <li><a href="#">Courses</a></li>
              <% if(!user_signed_in?)%>
                <li><%= link_to "Sign_Up", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
                <%else%>
       <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-target="dropdown1"><%= current_user.email %><i class="material-icons-right">arrow_drop_down</i></a></li>
                <%end%>
            </ul>
          </ul>
      </div>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Courses</a></li>
        <% if(!user_signed_in?)%>
        <li><%= link_to "Sign_Up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <%else%>
<!-- Dropdown Trigger -->
<li><a class="dropdown-button" href="#!" data-target="dropdown2"><%= current_user.email %><i class="material-icons right">arrow_drop_down</i></a></li>
        <%end%>
  </ul>
    </header> 

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main>
    <div class="container">
      <%= yield %>
    </div>
    </main>


    <footer class="page-footer brown lighten-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Shan Siddiqui</h5>
          <p class="grey-text text-lighten-4">Lorem Ipusum fnkajnruwnfkjanf</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Shan Siddiqui
      <%= link_to "About Us", pages_about_path, :class => "grey-text text-lighten-4 right"%>
      </div>
    </div>
  </footer>

  </body>


<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
  });
  $(".dropdown-trigger").dropdown();
</script>

</html>
